/* .navbar-expand {
    each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
    }
} */

.navbox {
    position: absolute;
    height: 120px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 90%;
    z-index: 999;
    padding-top: 30px;
    pointer-events: none;
}
  
.navbox h1 {
    font-family: 'Times';
    font-weight: 500;
    margin: 0px;
    font-size: 3vw;
    pointer-events: all;
    color: rgb(235, 58, 27);
}

.navbox .navItem h1 {
    text-align: center;
    cursor: pointer;
    margin: 0px;
}
  
.navbox h1 {
    pointer-events: all;
}

.navbox h1:hover {
    color: rgb(30, 30, 30);
}

.navbox p {
    pointer-events: all;
}
  
.navbox p:hover {
    color: rgb(30, 30, 30);
}
  
.navbox .navItem {
    font-family:'Verdana';
    font-weight: 500;
    font-size: 1.4vw;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0%;
    color: rgb(235, 58, 27);
}
  
.navbox .navItem p {
    text-align: center;
    cursor: pointer;
    margin: 0px;
}
  
.navbox #Results {
    text-align: right;
}
  
.navbox #Profile {
    text-align: left;
    margin-left: 70px;
}

#map { 
    margin-top: 80px;
    position: absolute;
    width: 98.5%;
    height: 610px;
    z-index: 1;
}


#ResultsOverlay {
    position: absolute;
    margin-left: 66.65%;
    margin-top: 103px;
    display: none;
    width: 33.333%;
    height: 84.5%;
    background-color: rgba(0,0,0,0.5);
    z-index: 11;
    cursor: pointer;
}

#MeanOverlay {
    position: absolute;
    margin-left: 33.31%;
    margin-top: 103px;
    display: none;
    width: 33.333%;
    height: 84.5%;
    background-color: rgba(0,0,0,0.5);
    z-index: 11;
    cursor: pointer;
}

#ProfileOverlay {
    position: absolute;
    margin-left: 0%;
    margin-top: 103px;
    display: none;
    width: 33.333%;
    height: 84.5%;
    background-color: rgba(0,0,0,0.5);
    z-index: 11;
    cursor: pointer;
}
  
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 24px}
    .overlay .closebtn {
        font-size: 20px;
        top: 10px;
        right: 35px;
    }
}

.overlay h3 {
    padding: 4px;
    font-family: 'Verdana';
    font-size: 28px;
    color: #fffefe;
    font-weight: 500;
}

.overlay a {
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-family: 'Verdana';
    font-size: 24px;
    color: #fffefe;
    display: block;
    transition: 0.3s;
}

.overlay label {
    padding: 0px;
    margin-bottom: 0%;
    text-align: center;
    text-decoration: none;
    font-family: 'Verdana';
    font-size: 16px;
    color: #fffefe;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #9f9f9f;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropbtn {
    background-color: #f9f9f9;
    color: rgb(216, 216, 216);
    padding: 0%;
    font-family: 'Trebuchet MS';
    align-content: center;
    font-size: 17.5px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.p {
    font-family: 'Trebuchet MS';
    font-size: 16px;
    color: #f9f9f9;
}

.btn-primary {
    color: #f9f9f9;
    background-color: rgb(235, 58, 27);
    border-color: rgb(235, 58, 27);
    font-family: 'Verdana';
    font-size: 13px;
}

.btn-primary:hover {
    background-color: rgb(30, 30, 30);
    border-color: rgb(30, 30, 30);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    align-content: center;
    min-width: 188.5px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(235, 58, 27);
    font-family: 'Verdana';
    font-size: 14px;
    align-content: center;
    text-decoration: none;
    display: block;
}

/* .dropdown-content a:hover {
    background-color: #777
} */

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1 ;
}
