/* .navbar-expand {
    each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
    }
} */

.navbox {
    position: absolute;
    height: 120px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 90%;
    z-index: 999;
    padding-top: 30px;
    pointer-events: none;
  }
  
  .navbox h1 {
    font-family:'Trebuchet MS';
    font-weight: 500;
    margin: 0px;
    font-size: 3vw;
    pointer-events: all;
  }
  
  .navbox p {
    pointer-events: all;
  }
  
  .navbox p:hover {
    text-decoration: underline;
  }
  
  .navbox .navItem {
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 1.4vw;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
  }
  
  .navbox .navItem p {
    text-align: center;
    cursor: pointer;
    margin: 0px;
  }
  
  /* .navbox .navItem:first-of-type {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .navbox .navItem:last-of-type {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .navbox .navItem:first-child > span {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-right: auto;
  }
  
  .navbox .navItem:last-child > span {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-right: 20px;
    margin-left: auto;
  } */
  
  .navbox #Results {
    text-align: right;
  }
  
  .navbox #About {
    text-align: left;
    margin-left: 70px;
  }

#map { 
    margin-top: 80px;
    position: absolute;
    width: 98%;
    height: 600px;
    align-content: center;
    /* float: inline-start; */
    /* display: flex; */
    /* text-align: center; */
}