<!DOCTYPE html>

<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>What Do You Mean x̄</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css"> 
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
  
    </head>

    <body style="background-color: white;">

        <div class="navbox" id="NavBox">
            <div class="navItem"><p id="Profile" onclick="ProfilePage()">Profile</p></div>
            <div class="navItem"><h1 id="Profile" onclick="MeanPage()"><b>What Do You Mean x̄</b></h1></div>
            <div class="navItem"><p id="Results" onclick="ResultsPage()">Results</p></div>
        </div>


        <!-- overlay -->

        <!-- Profile overlay -->
        <div id="ProfileOverlay" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="off()">&times;</a>
            <div class="overlay-content">
                <h3><u>Your Details</u></h3><br>
                    <label for="name">Type your country:</label>
                    <input type="text" id="country"><br>
                    <br>
                    <div class="dropdown">
                        <label for="name">Select your age:</label>
                        <select id="selAge" onchange="updateMap(this.value)" role="button" class="dropbtn" >select your age group...
                        </select>
                    </div>
                    <br><br>
                    <label for="name">How are you?</label><br>
                    <div class="btn-group">
                        <button type="button" class="btn-default">Feeling calm</button>
                        <button type="button" class="btn-default">A bit tense</button>
                    </div>
                    <br><br>
                    <div class="btn-group">
                        <button type="button" class="btn-default">Pretty happy</button>
                        <button type="button" class="btn-default">A little down</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Mean overlay -->
        <div id="MeanOverlay" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="off()">&times;</a>
            <div class="overlay-content">
                <h3><u>What this means</u></h3><br>
                <a href="#">Anxiety</a>
                <a href="#">Depression</a>
            </div>
        </div>

        <!-- Results overlay -->
        <div id="ResultsOverlay" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="off()">&times;</a>
            <div class="overlay-content">
                <h3><u>Your Results</u></h3><br>
                <div class="container">
                    <div class="row row-cols-2">
                      <div class="col"><font color="white">Country</font></div>
                      <div class="col" id="country-result"><font color="white"></font></div>
                      <div class="col"><font color="white">Age</font></div>
                      <div class="col" id="age-result"><font color="white"></font></div>
                      <div class="col"><font color="white">Anxiety</font></div>
                      <div class="col" id="anx-result"><font color="white"></font></div>
                      <div class="col"><font color="white">Depression</font></div>
                      <div class="col" id="dep-result"><font color="white"></font></div>
                    </div>
                  </div>
            </div>
        </div>

        
        <!-- map -->
        <br>
        <div class="col-md-12">
            <div id="map"></div>
        </div>

        <!-- D3 -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

        <!-- Our JS -->
        <!-- <script type="text/javascript" src="../static/js/app.js"></script> -->
        <!-- <script type="text/javascript" src="../static/js/age.js"></script> -->
        <!-- <script type="text/javascript" src="../static/js/locations.js"></script> -->
        <script type="text/javascript" src="../static/js/map.js"></script>
        
        <!-- overlay script -->
        <script type="text/javascript" src="../static/js/overlay.js"></script>
    
    </body>

</html>

